extends base
mixin reviewCard(review)
    .reviews__card
        .reviews__avatar
            img.reviews__avatar-img(src=`${review.user.photo}`)
            h6.reviews__user= review.user.name
        -if(review.trip)
            a(href=`/trips-${review.trip.slug}#reviews` style='text-decoration:none; color:black;')
                p.reviews__text(style='font-size:12px;')= `Review on ${review.trip.name}`
        -if(review.clinic)
            a(href=`/clinics-${review.clinic.slug}#reviews` style='text-decoration:none; color:black;')
                p.reviews__text(style='font-size:12px;')= `Review on ${review.clinic.name}`
        p.reviews__text= review.review
        .reviews__rating
            each star in [1,2,3,4,5]
                svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
                    use(xlink:href='icons.svg#icon-star')
        //- .review__delete
        //-     i.ri-delete-bin-line
        //- input#review__url(type='text' style='display:none;' value=`/api/reviews/${review.id}`)

block content
    link(rel="stylesheet", href="detailed.css")
    main.main
        .user-view
            .user-view__content
                .user-view__form-container
                    .form-user-data
                        include _accountSettings
                .user-view__form-container
                    .form-user-password
                        include _changePassword
    -if(user.role != 'admin')
        section.section-reviews
            .overview-box__group
                h2.heading-secondary.ma-bt-lg(style='color: white; font-size:25px;display:flex;justify-content:center;') YOUR REVIEWS
            .reviews
                -if(reviews.length == 0)
                    .overview-box__group
                        h2.heading-secondary.ma-bt-lg(style='color: white; font-size:17px;display:flex;justify-content:center;') You haven't reviewed any trip or service, yet. Submit the first right now!
                each review in reviews
                    +reviewCard(review)