extends base

mixin tripCard(destination, imageCover, images, ratingsQuantity, rating, duration, distance, link, availablity)
  .card
    .top-section
      img(src=`${imageCover}` alt=`${destination}`)
      .image-container
        .small-nav
          each image, i in images
            img(onclick='change_img(this)' src=`${image}` alt=`${destination}`)
      .price= `⭐${rating} | ${ratingsQuantity}🧑`
    #parallelogram
    .product-info
      .name= destination
      .dis= `• ${distance} km`
      .dis= `• ${duration} days`
      -if(availablity==true)
        .dis.available= 'Still available'
      -else
        .dis.notAvailable= 'Not available ATM'
      a.btn(href=link) Learn More
mixin offerCard(distance, duration, nrOfServices, destination, imageCover1, imageCover2, tripRating, clinicRating, clinicName, link)
  .card
    .top-section
      .first-img
        img(src=`${imageCover1}`, alt=`${destination}`)
      .second-img
        img(src=`${imageCover2}`, alt=`${clinicName}`)
      .price= `🗼${tripRating} | ${clinicRating}🦷`
    //- .square
    #parallelogram
    .product-info
      .name= destination
      .name= clinicName
      .dis= `• ${distance} km | ${duration} days`
      .dis= `• ${nrOfServices} services available`
      a.btn(href=link) Learn More
mixin clinicCard(name, imageCover, images, ratingsQuantity, rating, location, description, link)
  .card
    .top-section
      img(src=`${imageCover}` alt=`${name}`)
      .image-container 
        .small-nav
          each image, i in images
            img(onclick='change_img(this)' src=`${image}` alt=`${name}`)
      .price= `⭐${rating} | ${ratingsQuantity}🧑`
    #parallelogram
    .product-info
      .name= name
      .dis.location= location
      .dis.description.text-truncate.text-truncate--2= description
      a.btn(href=link) Learn More

block content 
  link(rel="stylesheet", href="cards.css")
  .main-container
    -if(endpoint === '/trips')
      for trip in docs 
        //- -console.log(trip.destination.address)
        +tripCard(trip.destination.address, trip.imageCover, trip.photo, trip.ratingsQuantity, trip.rating, trip.duration, trip.distance, `trips-${trip.slug}`, trip.isAvailable)
    -if(endpoint === '/clinics')
      for clinic in docs 
        -const location = clinic.locations?.[0]?.address;
        +clinicCard(clinic.name, clinic.imageCover, clinic.photo, clinic.ratingsQuantity, clinic.rating, location, clinic.description, `clinics-${clinic.slug}`)
    -if(endpoint === '/offers')
      -for(let i=0; i<offers.length;i++)
        -let nrOfServices=0;
        -for(let j=0; j<offers[i][1].services.length; j++)
          -nrOfServices++;
        +offerCard(offers[i][0].distance, offers[i][0].duration, nrOfServices, offers[i][0].destination.address, offers[i][0].imageCover, offers[i][1].imageCover, offers[i][0].rating, offers[i][1].rating, offers[i][1].name, `/offers-${i + 1}`)