extends base

mixin overviewBox(label, text, description, icon)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`icons.svg#icon-${icon}`)
        span.overview-box__label= label
        span.overview-box__text= text
        span.overview-box__text= description
mixin reviewCard(review)
    .reviews__card
        .reviews__avatar
            img.reviews__avatar-img(src=`${review.user.photo}`)
            h6.reviews__user= review.user.name
        p.reviews__text= review.review
        .reviews__rating
            each star in [1,2,3,4,5]
                svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
                    use(xlink:href='icons.svg#icon-star')
        -if(user && (user.role === 'admin' || review.user.id === user.id))
            .review__delete
                i.ri-delete-bin-line
            input#review__url(type='text' style='display:none;' value=`/api/reviews/${review.id}`)

block content 
    link(rel="stylesheet", href="detailed.css")
    link(href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' rel='stylesheet')
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`${doc.imageCover}`)

        .heading-box
            h1.heading-primary
                span= `${doc.name}`
            .heading-box__group
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='icons.svg#icon-phone')
                    - const number = doc.phoneNumber.toString().startsWith('6');
                    -if(number == true)
                        span.heading-box__text= `+355${doc.phoneNumber}`
                    -else
                        span.heading-box__text= `+${doc.phoneNumber}`
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='icons.svg#icon-email')
                    span.heading-box__text.email= `${doc.email}`

    section.section-description#description
        .overview-box
            div
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Services
                    -if(doc.services.length === 0 || doc.services.length === '' || doc.services.length === null)
                        span.overview-box__label This clinic has no services
                    -else
                        -let booking_link = '';
                        -for(let i=0; i<doc.services.length;i++)
                            -if(user)
                                -booking_link = `https://mail.google.com/mail/?view=cm&fs=1&to=info.dentalapp@gmail.com&su=${user.name}+is+interested+in+purchasing+${doc.services[i].name}+by+${doc.name}&body=Price:${doc.services[i].price}`
                            -if(i % 2 == 0)
                                .big-container
                                    .small-container
                                        svg.overview-box__icon(style="margin: 3px 10px 0px 0px")
                                            use(xlink:href=`icons.svg#icon-tooth`)
                                        span.overview-box__label= doc.services[i].name
                                        span.overview-box__label= `${doc.services[i].price} L`
                                        -if(user && user.role !== 'admin')
                                            a(href=`${booking_link}`)
                                                button.overview-box__label Book
                                    span.overview-box__text.left= doc.services[i].description
                            -else if(i % 2 != 0)
                                .big-container
                                    .small-container.odd
                                        .title
                                            svg.overview-box__icon(style="margin: 3px 10px 0px 0px")
                                                use(xlink:href=`icons.svg#icon-tooth`)
                                            span.overview-box__label= doc.services[i].name
                                        .price 
                                            span.overview-box__label= `${doc.services[i].price} L`
                                        -if(user && user.role !== 'admin')
                                            a(href=`${booking_link}`)
                                                button.overview-box__label Book
                                    span.overview-box__text.right= doc.services[i].description
        .description-box
            h2.heading-secondary.ma-bt-lg= `About ${doc.name}`
            p.description__text= doc.description
            -if(user && user.role !== 'admin')
                .form2
                    form.review
                        .rating
                            input#star1(type='radio' name='star-rating' value='5' checked='checked')
                            label(for='star1')
                            input#star2(type='radio' name='star-rating' value='4' checked='checked')
                            label(for='star2')
                            input#star3(type='radio' name='star-rating' value='3' checked='checked')
                            label(for='star3')
                            input#star4(type='radio' name='star-rating' value='2' checked='checked')
                            label(for='star4')
                            input#star5(type='radio' name='star-rating' value='1' checked='checked')
                            label(for='star5')
                        input#reviewUrl(type='text' value=`http://127.0.0.1:8000/api/clinics/${doc.id}/reviews/clinic` style='display:none;')
                        .textarea
                            textarea.feedback-input#review(for="review" name='review' placeholder='Review')
                        .signup
                            button REVIEW

    section.section-pictures
        each img, i in doc.photo
            .picture-box
                img.picture-box__img(src=`${img}`, alt=`${doc.name} ${i + 1}`, class=`picture-box__img--${i + 1}`)

    section.section-map
        iframe#map(src=`${doc.location}` style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')

    section.section-reviews
        .reviews
            -if(doc.reviews.length == 0)
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg(style='color: white; font-size:17px;display:flex;justify-content:center;') This clinic has no reviews, yet. Be the first to submit one!
            each review in doc.reviews
                +reviewCard(review)

    section.section-cta
        .cta
            .cta__img.cta__img--logo
                img(src='logo-square-white.png', alt='DentAL logo')
            img.cta__img.cta__img--1(src=`${doc.photo[1]}`, alt='Trip Image')
            img.cta__img.cta__img--2(src=`${doc.photo[2]}`, alt='Trip Image')
            .cta__content
                h2.heading-secondary What are you waiting for?
                p.cta__text= `Good oral health. Quality and affordable. You don't wanna miss this!`
                
                -if(!user)
                    a.btn.btn--green.span-all-rows(href='/login') Login to book now
                -else if(user.role !== 'admin')
                    a(href=`http://127.0.0.1:8000/clinics-${doc.slug}#description`)
                        button.btn.btn--green.span-all-rows#book-tour Book now!
                
    script(type='module' src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js')
    //- script(src="reviewForm.js") 